@import url("https://fonts.googleapis.com/css2?family=Roboto+Flex:opsz,wght@8..144,100..1000&display=swap");

*{
  box-sizing: border-box;
}
body {
  background-color: #000033;
  margin: 0px;
  overflow: hidden;

}
 
/*----------------------------
	.-- sneg
-----------------------------*/
#container {
  width: 100%;  
  text-align: center;
  color: #ffffff;
  background-image: url('https://www.krasotaiskusstva.com/themes/merry-christmas/_images/snowh.png'), url('https://www.krasotaiskusstva.com/themes/merry-christmas/_images/snow3q.png'), url('https://www.krasotaiskusstva.com/themes/merry-christmas/_images/snow2l.png');
  -webkit-animation: snow 20s linear infinite;
  -moz-animation: snow 20s linear infinite;
  -ms-animation: snow 20s linear infinite;
  animation: snow 20s linear infinite;
}
/*----------------------------
	.-- Key Frames
-----------------------------*/
@keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
@-moz-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
@-webkit-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
@-ms-keyframes snow {
  0% {
    background-position: 0px 0px, 0px 0px, 0px 0px;
  }
  100% {
    background-position: 500px 1000px, 400px 400px, 300px 300px;
  }
}
/*----------------------------
	.-- konez sneg
-----------------------------*/

.snow-ball {
  transform-origin: 50% 50%;
  transform-box: fill-box;
  animation: snowball 4s linear infinite;
}
@keyframes snowball {
  0% {
    rotate: 0deg;
  }
  100% {
    rotate: 360deg;
  }
}

.wrap {
  max-width: 720px;
  margin-inline: auto;
  padding: 0;
  display: flex;
  align-items: center;
  min-height: 100vh;
}

/* ================= first */

.first {
  width: 720px;
  height: auto;
  margin-inline: auto;
  padding-inline: 1rem;
  padding-bottom: 1rem;
  display: grid;
  grid-template-areas:
  "a b"
  "c c";
  background: #ffffff;

}

.item1 {
  grid-area: a;
  width: 400px;
}

.item2 {
  grid-area: b;
  width: 300px;
}
.item3 {
  grid-area: c;
  display: flex;
  align-items: center;
  justify-content: center;
}

.orbis-1 {
  text-align: right; 
  margin-right: 0px;
}
.orbis-1 svg {
  width: 100px; 

}

.button-orbis-container {
  padding: 0;
  
}

.button {
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  width: 60px;
  height: 60px;
  border: 2px solid #000033;
  border-radius: 50px; 
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }

.button a {
    width: 30px;
    height: 40px;
    text-decoration: none;
    margin-left: 30%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

.text_links {
  margin-left: 40px;
  width: 150px;  
  color: #142c57;
}

.erst{
  display: flex;
  justify-content: center;
  align-items: center;
}


/* ================= merzanie */

.cont {
  width:90%;
  margin: 0 auto;
  position: relative;
}

.circle {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: rgba(255, 255, 255, 0.1);
  position: absolute;
  animation: glow 1s ease-in-out infinite alternate;
}

.c1 { top: 59px; left: 198px; }
.c2 { top: 58px; left: 86px; animation-delay: 1s; }
.c3 { top: 85px; left: 5px; animation-delay: 2s; }
.c4 { top: 150px; left: 64px; animation-delay: 3s; }
.c5 { top: 5px; left: 5px; animation-delay: 4s; }
.c6 { top: 153px; left: 152px; animation-delay: 1s; }
.c7 { top: 45px; left: 278px; animation-delay: 2s; }
.c8 { top: 99px; left: 304px; animation-delay: 3s; }
.c9 { top: 12px; left: 416px; animation-delay: 4s; }
.c10 { top: 16px; left: 228px; animation-delay: 1s; }
.c11 { top: 48px; left: 10px; animation-delay: 2s; }
.c12 { top: 277px; left: 464px; animation-delay: 3s; }
.c13 { top: 340px; left: 350px; animation-delay: 4s; }
.c15 { top: 75px; left: 636px; animation-delay: 1s; }
.c16 { top: 100px; left: 398px; animation-delay: 2s; }
.c17 { top: 106px; left: 456px; animation-delay: 3s; }
.c18 { top: 200px; left: 566px; animation-delay: 4s; }
.c19 { top: 50px; left: 670px; animation-delay: 1s; }
/* 
.c19 { top: 370px; left: 670px; animation-delay: 1s; }
.c20 { top: 30px; left: 690px; animation-delay: 2s; }
.c21 { top: 246px; left: 660px; animation-delay: 3s; }
*/

@keyframes glow {
  from {
      text-shadow: 0;
  }
  to {
      box-shadow: 0px 10px 30px 15px rgba(103, 101, 240, 0.5);
  }
}
/* ================= merzanie konez*/


.snow {
  padding: 2px;
}

.frohe {  
  display: block;
  margin-right: 2rem;
}

.frohe-top {
  width: 50%;
  margin-left: auto;
  margin-top: 30px;
}
.frohe-bottom {
  width: 80%;
  margin-left: auto;
}
.balls {
 margin-right: 0;
}
.balls svg {
  height: 100%;
  padding-right: 0;
}



@media only screen and (min-width: 320px) {
  .wrap {
    max-width: 320px;
    min-height: 100vh;
  }
  
  /* ================= first */
  
  .first {
    width: 320px;
    height: auto; 
  }

  .item1 {
    grid-area: a;
    width: 180px;
  }
  
  .item2 {
    grid-area: b;
    width: 120px;
  }
  .item3 {
    grid-area: c;
    justify-content: flex-start; 
  
  }
  .orbis-1 {
    margin-right: 20px;
  }

}

/*-- ======================= 740  ======================== */
@media (min-width: 740px) {
  .wrap {
    max-width: 720px; 
    min-height: 100vh;
  }
  
  /* ================= first */
  
  .first {
    width: 720px;
    height: 540px;  
  }
  
  .item1 {
    grid-area: a;
    width: 400px;
  }
  
  .item2 {
    grid-area: b;
    width: 300px;
  }
  .item3 {
    grid-area: c;
    display: flex;
    align-items: center;
    justify-content: center;  
  }
}
